@import "../../mixins";

.login_container {
  padding: 20px;
  @include flex-col;
}

.login_page_img_cont {
  @include media(tablet) {
    flex: 1;
  }
}
.login_logo {
  width: 100%;
  object-fit: contain;
}
.login_photo {
  @include flex-col-center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  object-fit: cover;
}
.photo {
  background-image: url("../../../public/assets/lendsqr-login-pix.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 100px;  
}
.logo {
  background-image: url("../../../public/assets/lendsqr-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 24px;
}
