@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col-center {
  @include flex-col;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  @include flex-row;
  justify-content: center;
  align-items: center;
}

// media query mixin
@mixin media($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: 601px) and (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 901px) {
      @content;
    }
  }
}