$regular-text-color: #213f7d;
$btn-color: #39cdcc;
$text-avenir: "Avenir Next", sans-serif;
$text-work-sans: "Work Sans", sans-serif;
$dark-text-color: #545f7d;
$bg-color: #fbfbfb;
$border-red: #e4033b;

// import mixins
@import "mixins";

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $regular-text-color;
}