@import "../../variables.module.scss";
@import "../../mixins";

.main_container {
  width: 100%;
  @include flex-col-center;
}

.container {
  padding: 0 20px;
  @include flex-col;
  width: 80%;
  @include media(tablet) {
    width: 50%;
  }
}

.welcome_msg {
  @include flex-col;
  font-family: $text-avenir;
  font-size: 24px;
  color: $regular-text-color;
  font-weight: 700;
  @include media(desktop) {
    font-size: 40px;
    margin-bottom: 16px;
  }
  span {
    font-size: 10px;
    font-weight: normal;
    @include media(desktop) {
      font-size: 16px;
    }
  }
}

.form_group {
  margin-top: 20px;
  width: 100%;
  @include media(desktop) {
    // margin-top: 36px;
  }
  @include flex-col;
  .submit_button {
    @include button;
  }
  span {
    font-family: $text-work-sans;
    font-size: 10px;
    color: $border-red;
    margin-top: 3px;
  }
}

.form_item {
  border: 1px solid lighten($color: $dark-text-color, $amount: 50%);
  border-radius: 3px;
  height: 32px;
  @include flex-row;
  justify-content: space-between;
  @include media(desktop) {
    height: 42px;
  }

  .email_input {
    border: none;
    width: 94%;
    height: 100%;
    padding: 0 10px;
    font-family: $text-work-sans;
    font-size: 14px;
    color: $dark-text-color;
    &:focus {
      outline: none;
    }
    @include media(desktop) {
      font-size: 20px;
    }
  }

  .password_input {
    border: none;
    width: 75%;
    height: 100%;
    padding: 0 10px;
    font-family: $text-work-sans;
    font-size: 14px;
    color: $dark-text-color;
    &:focus {
      outline: none;
    }
    @include media(desktop) {
      font-size: 20px;
    }
  }

  .show_btn {
    background-color: inherit;
    border: none;
    width: 20%;
    height: 100%;
    font-family: $text-work-sans;
    font-size: 12px;
    font-weight: 600;
    color: $btn-color;
    cursor: pointer;
    &:focus {
      outline: none;
      background-color: inherit;
    }
  }
  @include media(desktop) {
    font-size: 16px;
  }
}

.forget_password {
  font-family: $text-avenir;
  font-size: 10px;
  color: $btn-color;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: $btn-color;
  }
  @include media(desktop) {
    font-size: 12px;
  }
  span {
    text-transform: capitalize;
  }
}
