@import "../../variables.module.scss";
@import "../../mixins";

.main_container {
  width: 100%;
  height: 45px;
  background-color: white;
  // border: 1px solid $border-red;
}

.container {
  width: 100%;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.logo {
  width: 100px;
  height: 20px;
  background-image: url("../../../public/assets/lendsqr-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  @include media(desktop) {
    width: 150px;
    height: 30px;
  }
}

.hamburger {
  width: fit-content;
  margin: 0 5px;
  cursor: pointer;
  @include media(desktop) {
    display: none;
  }
}

.logo_container {
  width: fit-content;
  margin: 0 5px;
  cursor: pointer;
  @include media(desktop) {
    margin-left: 32px;
  }
}

.docs_container {
  font-size: 14px;
  font-family: $text-work-sans;
  text-decoration: underline;
  cursor: pointer;
}

.bell_container {
  width: fit-content;
  cursor: pointer;
}

.user_pix_container {
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-bottom: 10px;
  @include flex-col-center;
  // cursor: pointer;
}

.user_pix {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  @include media(desktop) {
    width: 48px;
    height: 48px;
  }
}

.nav_items {
  flex: 1;
  @include flex-row-center;
  gap: 10px;

  .user_profile {
    @include flex-row-center;
    cursor: pointer;
    margin-right: 10px;
    font-family: $text-work-sans;
    font-size: 12px;
    font-weight: 600;
    @include media(desktop) {
      margin-right: 30px;
      gap: 10px;
    }
  }
  .name_container {
    display: none;
    @include media(tablet) {
      display: block;
    }
    @include media(desktop) {
      display: block;
      font-size: 14px;
    }
  }

  @include media(tablet) {
    justify-content: flex-end;
    gap: 50px;
  }

  @include media(desktop) {
    justify-content: flex-end;
    gap: 50px;
  }
}
.logo_search_cont {
  flex: 1;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
}

.menu_container {
  position: relative;
}

.hide_menu {
  position: absolute;
  width: fit-content;
  height: auto;
  margin: 5px 0 10px 0;
  border: 1px solid darken($color: $bg-color, $amount: 10%);
  border-radius: 5px;
  left: -300px;
  transition: left 1s;
  @include media(desktop) {
    display: none;
  }
}
.show_menu {
  position: absolute;
  width: fit-content;
  height: auto;
  margin: 5px 0 10px 0;
  border: 1px solid darken($color: $bg-color, $amount: 10%);
  border-radius: 5px;
  left: 0;
  transition: left 1s;
  @include media(desktop) {
    display: none;
  }
}

.icon {
  width: 16px;
  height: 14px;
  margin-right: 10px;
}

.navItem {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-family: $text-work-sans;
  color: $dark-text-color;
  text-decoration: none;
  @include media(desktop) {
    font-size: 16px;
    gap: 10px;
    margin-top: 10px;
    height: 40px;
    width: 200px;
    padding: 0 24px;
    &:hover {
      background-color: lighten($color: $btn-color, $amount: 45);
    }
  }
}

.navItem_active {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-family: $text-work-sans;
  color: $dark-text-color;
  text-decoration: none;
  background-color: lighten($color: $btn-color, $amount: 45);
  @include media(desktop) {
    font-size: 16px;
    gap: 10px;
    margin-top: 10px;
    height: 40px;
    width: 200px;
    padding: 0 24px;
  }
}

.navItem_switch {
  @include flex-row;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
  font-size: 12px;
  font-family: $text-work-sans;
  color: $dark-text-color;
  text-decoration: none;

  @include media(desktop) {
    font-size: 16px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 200px;
    padding: 0 24px;
    &:hover {
      background-color: lighten($color: $btn-color, $amount: 45);
    }
  }
}

.icon_container {
  @include flex-col-center;
}

.version_text {
  font-size: 14px;
  font-family: $text-work-sans;
  color: $dark-text-color;
  margin: 24px;
}

.subname {
  color: $dark-text-color;
}

.search_container {
  display: none;
  @include media(tablet) {
    @include flex-row;
    width: 300px;
    height: 30px;
    border: 1px solid $dark-text-color;
    border-radius: 8px;
    padding-left: 10px;
  }
  .search_input {
    width: 250px;
    height: auto;
    outline: none;
    border: 1px solid transparent;
    border-radius: 8px;
    // margin-right: 5px;
    font-size: 14px;
  }
  .search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 0 8px 8px 0;
    background-color: $btn-color;
  }
  @include media(desktop) {
    @include flex-row;
    width: 300px;
    height: 30px;
    border: 1px solid $dark-text-color;
    border-radius: 8px;
    padding-left: 10px;
  }
  .search_input {
    width: 250px;
    height: auto;
    outline: none;
    border: 1px solid transparent;
    border-radius: 8px;
    // margin-right: 5px;
    font-size: 14px;
  }
  .search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 0 8px 8px 0;
    background-color: $btn-color;
  }
}

.sidebar {
  display: none;
  @include media(desktop) {
    display: block;
    width: 250px;
    height: 100%;
    background-color: white;
    position: static;
    top: 85px;
    z-index: 10;
    padding: 30px 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.link {
  text-decoration: none;
  color: $dark-text-color;
  font-size: 14px;
}

.dashboardItems {
  color: $dark-text-color;
  font-size: 14px;
  font-family: $text-work-sans;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 10px;
}
