@import "../../mixins";
@import "../../variables.module.scss";

.container {
  width: 95vw;
  position: relative;
  z-index: 20;
  overflow: auto;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 5px 5px 0px;
  margin-top: 10px;

  @include media(desktop) {
    width: 70vw;
    z-index: 6;
  }
}

.table_container {
  width: 100%;
}

.table_heading {
  font-size: 12px;
}

.table_head {
  @include flex-row;
  justify-content: space-between;
  gap: 5px;
  text-transform: uppercase;
  width: 100%;
  // gap: 3px;
}

.table_body {
  font-size: 12px;
}

.hide_table_head {
  display: none;
}

.table_row {
  // @include flex-row;
  // gap: 5px;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 10px;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.thead {
  padding: 20px 5px;
  border-bottom: 1px solid #f0f0f0;
}

.inactive_status {
  color: #545f7d;
  background-color: lighten($color: #545f7d, $amount: 45%);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 600;
}

.pending_status {
  color: #e9b200;
  background-color: lighten($color: #e9b200, $amount: 40%);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 600;
}

.blacklisted_status {
  color: #e4033b;
  background-color: lighten($color: #e4033b, $amount: 40%);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 600;
}

.active_status {
  color: #39cd62;
  background-color: lighten($color: #39cd62, $amount: 40%);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 600;
}

.popup_container {
  @include flex-row-center;
  gap: 10px;
  font-family: $text-work-sans;
  color: $dark-text-color;
}

.pagination_container {
  @include flex-col;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px 0 10px 5px;
  @include media(tablet) {
    @include flex-row;
    width: 95%;
  }
  @include media(desktop) {
    // left: -240px;
    width: 70vw;
    @include flex-row;
  }
}

.items_number {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.select_paginate_size {
  width: 70px;
  height: 30px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: $dark-text-color;
}
