@import "../../mixins";
@import "../../variables.module.scss";

.container {
  width: 100%;
  position: relative;
  // z-index: -5;
}

.heading {
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
}

.overview_card {
  @include flex-row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-right: 5px;

  @include media(desktop) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
